.text-theme{
    color: #FF385C;
}
.bg-theme{
    background-color: #FF385C;
}
.btn-theme{
      background-color: #FF385C !important;
      color:white !important;  
}
.btn-theme:hover{
      background-color: #FF3451 !important;  
}
.bg-black{
      background: #000 !important;
}

.bg-dark-grey{
      background: #222;
}

.footer-menu li a{ 
      line-height: 1.5;
      color:#777;
}

.footer-menu li a:hover{ 
      line-height: 1.5;
      color:#000;
      transition: all 1s;
      text-decoration: none;
}

.logo {
      line-height: 30px;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

.menu2{
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      padding: 0;
      text-align: center;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      
}

.menu2 li{
      display: inline-block;
      padding: 16px 20px;
      color: #fff;      
}

.menu2 li a{
      color: #fff;
      z-index: 99999999;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 30px;
      background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(9,9,121,0) 40%);
}

nav ul {
      line-height: 30px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: center;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}


nav.black {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 20px;
      
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
nav ul li a:hover {
    text-decoration: none;
    color: #aaa;
    font-size: 16px;
    transition: color 1s;
}

.menu-icon {
      line-height: 30px;
      position: fixed;
      top: 20px;
      right:20px;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.navpadding{
    height:63px;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
            position: fixed;
            width: 100%;
            z-index: -1;
      }

      nav.black ul {
            background: #000;
            position: fixed;
            width: 100%;
      }
      nav.black {
        background: #000;
        height:60px;
        opacity:0.7
  }

      .showing {
            max-height: 34em;
            z-index: -1;
            padding-top: 40px; 
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: inline-block;
            float:right;
      }

}
.react-tel-input input{
      width: 100%!important;
}
.ant-modal-footer{
      display:none!important;
}
.pac-container.pac-logo {
      width: 300px!important;
      top: 225px !important;
  }
  .pac-item {
      padding: 20px;
  }
  input.pac-target-input {
      border-color: white;
      border: none;
      width: 100% !important;
  }
  input.pac-target-input:focus {
      border-color: white;
      border: none!important;
      outline: none!important;
  }
  .book-img-container img{
      object-fit: cover;
      object-position: center center;
      max-height: 450px  ;
  }
  .book-img-container .col-6 img{
      object-fit: cover;
      object-position: center center;
      max-height: 217px ;
  }

  .book-img-container .col-6,.book-img-container .col-md-6{
        padding-right: 10px;
        padding-left: 10px;
  }
  .otherplaces img{
        height:300px;
        object-fit: cover;
        object-position: center top;
  }
  .otherexp img{
      height:600px;
      object-fit: cover;
      object-position: center top;
}
.indexnav{
      border-radius:3.25rem!important;
}